<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vueTest</title>
</head>
<body>


<script src="js/vue.js"></script>

<div id="app">
<div v-if="seen">{{msg}}</div>
<input type="text" v-model="msg">
<abc :msg="msg"></abc>
</div>


<script>

Vue.component('abc',{
  props:{
    msg:String
  },
  template:'<div>{{msg}}</div>'
})


  var app=new Vue({
    el:'#app',
    data:{
      msg:'hello world!',
      seen:true,
      tools:[
        { text: 'a'},
        { text: 'b'},
        { text: 'c'},
      ]
    },
    methods:{
      reversemsg:function(){
        this.msg = this.msg.split('').reverse().join('')
      }
    }
  })
</script>


</body>
</html>
